@import "../../colors.scss";

.hero {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    .container {
      width: 95%;
      max-width: 1500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;
      .wrapper_text {
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        text-align: center;
        opacity: 0;
        transform: translateY(100px) scale(1.02);
        transition: all 0.5s ease-out;
        h5 {
          cursor: pointer;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          &::before {
            content: "";
            width: 0%;
            height: 1px;
            background: $secondary-color;
            position: absolute;
            bottom: -2px;
            transition: 0.3s ease-in-out;
          }
          &:hover::before {
            width: 100%;
            transition: 0.3s ease-in-out;
          }
        }
        h1 {
          cursor: pointer;
          span {
            color: $primary-color;
          }
        }
      }
      .wrapper_button {
        opacity: 0;
        width: 250px;
        transition-delay: 0.5s;
        transition: all 0.8s ease-in-out;
      }
    }
    .visible_content {
      .wrapper_text {
        opacity: 1;
        transform: translateY(0%);
      }
      .wrapper_button {
        opacity: 1;
      }
    }
    @media screen and (max-width: 1200px) {
      .container {
        .wrapper_text {
          h1 {
            max-width: 600px;
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      .container {
        .wrapper_text {
          h1 {
            max-width: 400px;
            font-size: 58px
          }
        }
      }
    }
    @media screen and (max-width: 480px) {
      .container {
        .wrapper_text {
          h1 {
            max-width: 300px;
            font-size: 42px
          }
        }
      }
    }
}