.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.contacts .title {
  width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #1e2335;
  text-transform: uppercase;
  text-align: center;
}
.contacts .title h5 {
  font-family: "Oswald";
}
.contacts .title h1 {
  font-size: 100px;
  font-family: "Oswald";
}
.contacts .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts .content .content_container {
  width: 95%;
  max-width: 1500px;
  padding: 50px 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.contacts .content .content_container .content_text {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.contacts .content .content_container .content_text .contacts_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts .content .content_container .content_text .contacts_list .contacts_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.contacts .content .content_container .content_text .contacts_list .contacts_item .contacts_link {
  font-size: 20px;
  cursor: pointer;
}
.contacts .content .content_container .content_text .contacts_list .contacts_item .contacts_link:hover {
  color: #005aab;
  text-decoration: underline;
}
.contacts .content .content_container .content_text .contacts_list .contacts_item .contact_item_icon {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #1e2335;
}
.contacts .content .content_container .content_text .contacts_list .contacts_item .contact_item_icon svg {
  width: 20px;
  height: 20px;
  fill: #ffb403;
}
@media screen and (max-width: 1200px) {
  .contacts .content .content_container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .contacts .content .content_container .content_text {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .contacts .title {
    height: auto;
    gap: 10px;
    padding: 30px 20%;
  }
  .contacts .title h1 {
    font-size: 70px;
    line-height: 75px;
  }
  .contacts .content .content_container .content_text {
    width: 80%;
  }
  .contacts .content .content_container .content_text .contacts_list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contacts .content .content_container .content_text .contacts_list .contacts_item .contact_item_icon {
    width: 25px;
    height: 25px;
  }
  .contacts .content .content_container .content_text .contacts_list .contacts_item .contact_item_icon svg {
    width: 15px;
    height: 15px;
  }
  .contacts .content .content_container .content_text .contacts_list .contacts_item .contacts_link {
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .contacts .title h1 {
    font-size: 55px;
    line-height: 60px;
  }
  .contacts .content .content_container .content_text .contacts_list .contacts_item .contacts_link {
    font-size: 14px;
  }
  .contacts .content .content_container .content_text .contacts_list .contacts_item .contacts_email {
    font-size: 12px;
  }
}/*# sourceMappingURL=ContactsSection.module.css.map */