$primary-color: #005aab;
$primary-active-color: #004683;
$primary-bg-color: #1e2335;
$secondary-color: #ffd903;
$secondary-active-color: #ffb403;
$grey-color: #00000060;
$black-color: #141414;
$white-color: #ffffff;
$bg-color: #f2f3f7;
$backdrop-color: #00000050;
$success-color: #24AD53;
$error-color: #E7401B;