.section {
    width: 100%;
}

.io_section {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.visible_io_section {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.container {
    position: relative;
    width: 95%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 75px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    @media screen and (max-width: 768px) {
        padding: 50px 0px;
    }
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 768px) {
        img {
            max-width: 300px;
            height: auto;
        }
    }
    @media screen and (max-width: 480px) {
        img {
            max-width: 260px;
            height: auto;
        }
    }
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.article_img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 100%;
        height: auto;
        max-width: 800px;
    }
}

.article_title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
}

.article_text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
}

.article_list {
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.article_list_item {

}

.article_cards_block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}